###SETTINGS###
XBIAN_PASS="MyPass"
ROOT_PASS="MoreSecurePass"
SAMBA_USER="samba"
SAMBA_PASS="SambaPass"
HOSTNAME="xbian"
TIMEZONE="europe amsterdam"
EXTERNAL_HDD_SYM_NAME="/external-hdd"

CONFIGURE_WIFI=0
INSTALL_UPC_REMOTE=0
INSTALL_SOURCES_LIST=0
